.panel {
  display: none;
  margin: 2vw;
}

.panel-default {
  border: 1px solid black;
}

.receipt-address {
  text-align: center;
  float: left;
  margin-left: 35vw;
}

.receipt-delivery {
  float: left;
}
